<a href="https://colab.research.google.com/github/Kingfinalweapon/kings/blob/master/poat_racing_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('B210801.TXT', encoding='shift-jis') as f:
    data = f.readlines()

In [ ]:
!pip install mojimoji
import mojimoji

In [ ]:
import re
racers = []
racers = [datanum.replace('\u3000','').replace('\n','') for datanum in data if re.match('^[1-6]\s',datanum)]
racers[:5]

['1 3430角浜修53広島54B1 5.16 34.48 4.70 18.18 38 37.50 44 11.76 565 22        ',
 '2 5059冨田祥24香川52B1 2.39  6.82 2.31 12.50 39 43.75 22 42.86 S 466        5',
 '3 3974深山祐二44佐賀52B1 4.42 27.10 4.53 22.50 55 13.33 26 20.00 6 234        7',
 '4 4106坂井康嗣41佐賀51B1 4.74 28.32 4.27 13.64 59 41.18 43 33.33 6 525        8',
 '5 4705吉川勇作32長崎54B1 3.95 24.69 4.81 28.67 22 60.00 25 47.06 66145         ']

In [ ]:
pattern = '^([1-6])\s(\d{4})([^0-9]+)(\d{2})([^0-9]+)(\d{2})([AB]\d{1})\s(\d{1}.\d{2})\s*(\d+.\d{2})\s(\d{1}.\d{2})\s*(\d+.\d{2})\s+\d+\s+(\d+.\d{2})\s*\d+\s+(\d+.\d{2})'
pattern_re = re.compile(pattern)
values = [re.match(pattern_re,racer).groups() for racer in racers]

In [ ]:
import pandas as pd

column = ['艇番', '選手登番', '選手名', '年齢', '支部', '体重', '級別', '全国勝率', '全国2連率', '当地勝率', '当地2連率', 'モーター2連率', 'ボート2連率']
df = pd.DataFrame(values,columns=column)
df.head(10)

  艇番  選手登番   選手名  年齢  支部  体重  級別  全国勝率  全国2連率  当地勝率  当地2連率 モーター2連率 ボート2連率
0  1  3430   角浜修  53  広島  54  B1  5.16  34.48  4.70  18.18   37.50  11.76
1  2  5059   冨田祥  24  香川  52  B1  2.39   6.82  2.31  12.50   43.75  42.86
2  3  3974  深山祐二  44  佐賀  52  B1  4.42  27.10  4.53  22.50   13.33  20.00
3  4  4106  坂井康嗣  41  佐賀  51  B1  4.74  28.32  4.27  13.64   41.18  33.33
4  5  4705  吉川勇作  32  長崎  54  B1  3.95  24.69  4.81  28.67   60.00  47.06
5  6  3819  大内裕樹  49  滋賀  56  B1  3.89  14.63  5.25  41.67   50.00  18.75
6  1  5014  梶山涼斗  23  佐賀  52  B1  3.75  13.16  1.50   0.00   53.33  41.67
7  2  4778   堤啓輔  35  佐賀  50  B1  4.84  28.57  5.13  31.25   21.05  36.84
8  3  4919  吉田翔悟  30  長崎  52  B1  5.03  30.97  5.04  30.70   17.65  37.50
9  4  4566  塩田北斗  33  福岡  54  A1  6.75  50.86  6.56  44.44   20.00  31.25

In [ ]:
for l in Lines:
    if 'BGN' in l:
        place_cd = int(l[:-4])
        # l=24BBGM→place_cd→24

        lines = []
    elif 'END' in l:
        lines_by_plc[place_cd] = lines
        # 辞書型で保存している{24:[番組でーた]}

    else:
        lines.append(l)